<template>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <div>
            <h2>Registro de Cliente</h2>
            <form @submit.prevent="handleSubmit">
              <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input
                  type="email"
                  v-model="user.Email"
                  id="email"
                  name="email"
                  class="form-control"
                  :class="{ 'is-invalid': submitted && $v.user.Email.$error }"
                />
                <div
                  v-if="submitted && $v.user.Email.$error"
                  class="invalid-feedback"
                >
                  <span v-if="!$v.user.Email.required"
                    >El correo electronico es requerido</span
                  >
                  <span v-if="!$v.user.Email.Email"
                    >El campo de Email es invalido</span
                  >
                </div>
              </div>

              <!-- Campo de telefono (confirmar validación) -->
              <div class="form-group">
                <label for="phoneNumber">Teléfono</label>
                <input
                  type="text"
                  v-model="user.PhoneNumber"
                  id="phoneNumber"
                  name="phoneNumber"
                  class="form-control"
                  :class="{
                    'is-invalid': submitted && $v.user.PhoneNumber.$error,
                  }"
                />
                <div v-if="!$v.user.PhoneNumber.minLength">
                  Introduce mínimo 10 Números
                </div>
                <div v-if="!$v.user.PhoneNumber.numeric">
                  El campo admite unicamente digitos
                </div>
                <div
                  v-if="submitted && !$v.user.PhoneNumber.required"
                  class="invalid-feedback"
                >
                  El campo Teléfono es requerido
                </div>
              </div>

              <!-- Campo de Contraseña -->
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input
                  type="password"
                  v-model="user.Password"
                  id="password"
                  name="password"
                  class="form-control"
                  :class="{
                    'is-invalid': submitted && $v.user.Password.$error,
                  }"
                />
                <div
                  v-if="submitted && $v.user.Password.$error"
                  class="invalid-feedback"
                >
                  <span v-if="!$v.user.Password.required"
                    >Password is required</span
                  >
                  <span v-if="!$v.user.Password.minLength"
                    >La contraseña debe contener más de 6 carecteres</span
                  >
                </div>
              </div>

              <!-- Campo de Nombres(S) -->

              <div class="form-group">
                <label for="firstName">Nombre (s)</label>
                <input
                  type="text"
                  v-model="user.Name"
                  id="firstName"
                  name="firstName"
                  class="form-control"
                  :class="{
                    'is-invalid': submitted && $v.user.Name.$error,
                  }"
                />
                <div
                  v-if="submitted && !$v.user.Name.required"
                  class="invalid-feedback"
                >
                  El campo Nombre es requerido
                </div>
              </div>

              <div class="form-group">
                <label for="MiddleName">Apellido Paterno</label>
                <input
                  type="text"
                  v-model="user.MiddleName"
                  id="MiddleName"
                  name="MiddleName"
                  class="form-control"
                  :class="{
                    'is-invalid': submitted && $v.user.MiddleName.$error,
                  }"
                />
                <div
                  v-if="submitted && !$v.user.MiddleName.required"
                  class="invalid-feedback"
                >
                  El campo Apellido Paterno es requerido
                </div>
              </div>

              <div class="form-group">
                <label for="LastName">Apellido Materno</label>
                <input
                  type="text"
                  v-model="user.LastName"
                  id="LastName"
                  name="LastName"
                  class="form-control"
                  :class="{
                    'is-invalid': submitted && $v.user.LastName.$error,
                  }"
                />
                <div
                  v-if="submitted && !$v.user.LastName.required"
                  class="invalid-feedback"
                >
                  El campo Apellido Materno es requerido
                </div>
              </div>

              <div>
                <h4>Dirección</h4>
                <div class="form-group">
                  <label for="StreetAddress">Calle y Numero</label>
                  <input
                    type="text"
                    v-model="user.StreetAddress"
                    id="StreetAddress"
                    name="StreetAddress"
                    class="form-control"
                    :class="{
                      'is-invalid': submitted && $v.user.StreetAddress.$error,
                    }"
                  />
                  <div
                    v-if="submitted && !$v.user.StreetAddress.required"
                    class="invalid-feedback"
                  >
                    El campo Calle y Numero es requerido
                  </div>
                </div>
                <div class="form-group">
                  <label for="Neighborhood">Colonia</label>
                  <input
                    type="text"
                    v-model="user.Neighborhood"
                    id="Neighborhood"
                    name="Neighborhood"
                    class="form-control"
                    :class="{
                      'is-invalid': submitted && $v.user.Neighborhood.$error,
                    }"
                  />
                  <div
                    v-if="submitted && !$v.user.Neighborhood.required"
                    class="invalid-feedback"
                  >
                    El campo Calle y Numero es requerido
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button class="btn btn-primary">Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, email, minLength, numeric } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  name: "UserRegister",
  data() {
    return {
      user: {
        Email: "",
        PhoneNumber: "",
        Password: "",
        Name: "",
        MiddleName: "",
        LastName: "",
        StreetAddress: "",
        Neighborhood: ""
      },
      submitted: false,
    };
  },

  validations: {
    user: {
      Email: { required, email },
      PhoneNumber: { required, minLength: minLength(10), numeric },
      Password: { required, minLength: minLength(6) },
      Name: { required, minLength: minLength(1) },
      MiddleName: { required, minLength: minLength(1) },
      LastName: { required, minLength: minLength(1) },
      StreetAddress: { required },
      Neighborhood: {required}
    },
  },

  methods: {
    handleSubmit(e) {
      this.submitted = true;

      // stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid) {
        alert("Stop Here" + e);
        return;
      } else {
        console.log(JSON.stringify(this.user));
        axios
          .get("https://jsonplaceholder.typicode.com/todos/1")
          .then((result) => {
            console.log(result.data);
          });
      }
    },
  },
};
</script>
